body {
    font-family: 'Verdana';
    background-color: rgb(245, 234, 214);
    color: rgb(90, 20, 20);
}

header {
    background-color: rgb(116, 31, 28);
    color: white;
    text-align: center;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}


#ubicacion {
    padding: 20px;
    text-align: center;
}

#ubicacion h2 {
    color: rgb(116, 31, 28);
}

.contacto {
    margin-top: 10px;
    color: rgb(90, 20, 20);
}

/* Sección de Promociones */
#promociones {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.cuadradoUno {
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 250px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    color: white;
    text-align: center;
    position: relative;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
}

#hazteCliente {
    background-image: url('/img/chimichangaUno.jpg'); 
}

#pedirDomicilio {
    background-image: url('/img/chimiDos.jpg');
}

.cuadradoUno h3 {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.cuadradoUno p {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.boton{
    background-color: rgb(146, 58, 55);
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.boton:hover {
    background-color: rgb(116, 31, 28);
    transform: scale(1.05);
}

#volverInicio {
    text-align: center;
    margin: 20px 0;
}

.boton {
    background-color: rgb(116, 31, 28);
}

footer {
    background-color: rgb(116, 31, 28);
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
