/* Estilo general del body */
body {
    font-family: Verdana, sans-serif;
    font-size: large;
    background-color: rgb(116, 31, 28); /* Fondo verde oscuro */
    margin: 0;
    padding: 0;
    display: flex; /* Organiza los elementos de forma eficiente */
    flex-direction: column; /* Acomoda los elementos en columna */
    align-items: center; /* Centra los elementos horizontalmente */
    color: white;
}

/* Estilo del iframe */
iframe {
    border: 3px solid rgb(116, 31, 28); /* Borde oscuro */
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 1); /* Sombra para profundidad */
}

/* Tamaño de los div */
div {
    max-width: 600px;
}

/* Sección de teléfonos */
#telf {
    background-color: rgb(216, 139, 137); /* Fondo claro */
    border: 3px solid rgb(116, 31, 28);
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    margin: 10px 0;
    width: 600px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 1);
}

#telf p {
    margin: 5px 0;
    font-size: 16px;
    font-weight: bold;
}

/* Secciones de cliente y domicilio */
#cliente, #domicilio {
    background-color: rgb(216, 139, 137); /* Fondo claro */
    border: 3px solid rgb(116, 31, 28); /* Borde oscuro */
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 50px;
    text-align: center;
    margin: 10px;
    width: 600px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 1);
}

#cliente h6, #domicilio h6 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(116, 31, 28); /* Color oscuro */
    background-color: rgb(255, 255, 255); /* Fondo blanco */
    padding: 5px 5px;
    border-radius: 5px;
}

/* Botón de página principal */
#pagPrincipal {
    text-align: center;
    margin: 20px 0;
}

#pagPrincipal a {
    background-color: rgb(153, 56, 53); /* Fondo oscuro */
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
    transition: background-color 0.3s ease;
}

#pagPrincipal a:hover {
    background-color: rgb(146, 58, 55); /* Fondo ligeramente más claro */
}

/* Botón de cliente */
#cliente a {
    text-align: center;
    margin: 20px 0;
}

#cliente a {
    background-color: rgb(214, 115, 112); /* Fondo oscuro */
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
    transition: background-color 0.3s ease;
}

#cliente a:hover {
    background-color: rgb(146, 58, 55); /* Fondo ligeramente más claro */
}

/* Botón de domicilio */
#domicilio a {
    text-align: center;
    margin: 20px 0;
}

#domicilio a {
    background-color: rgb(214, 115, 112); /* Fondo oscuro */
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
    transition: background-color 0.3s ease;
}

#domicilio a:hover {
    background-color: rgb(146, 58, 55); /* Fondo ligeramente más claro */
}
