/* ESTILO GENERAL DEL BODY */
body {
    font-family: mifuentesita;
    font-size: 16px;
    background-color: rgb(116, 31, 28);
    background-image: url(/img/chimiCinco.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    padding: 100px;
    margin: 100px;
    color: rgb(245, 245, 245); 
}

/* FUENTE EXTERNA */
@font-face {
    font-family: mifuentesita;
    src: url(/adicionales/fuentes/RedRose-VariableFont_wght.ttf);
}

/* DIV PRINCIPAL (único) */
.divUno {
    background-color: rgb(245, 234, 214); 
    border: 3px solid rgb(90, 20, 20);
    border-radius: 15px;
    padding: 40px 30px;
    text-align: center;
    width: 400px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); 
}

/* TITULO */
h4 {
    font-size: 32px;
    font-weight: bold;
    color: rgb(245, 234, 214);
    background-color: rgb(90, 20, 20); 
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); 
}

/* FORMULARIO */
.formulario {
    display: flex;
    flex-direction: column; /* coloca los elementos uno debajo de otro */
    gap: 15px; /* Espaciado entre elementos */
}

label {
    font-size: 16px;
    color: rgb(116, 31, 28);
    font-weight: bold;
    text-align: left;
    display: block;
}


input[type="text"], 
input[type="password"] {
    padding: 10px;
    border: 2px solid rgb(116, 31, 28);
    border-radius: 5px;
    background-color: rgb(245, 234, 214); 
    font-size: 16px;
    box-sizing: border-box;
    color: rgb(90, 20, 20); 
}

/* BOTONES */
button.boton {
    background-color: rgb(116, 31, 28);
    color: rgb(245, 234, 214); 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); 
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button.boton:hover {
    background-color: rgb(146, 58, 55); 
    transform: translateY(-2px); /* Eleva el boton */
}

a.botonPagPrincipal {
    display: inline-block;
    margin-top: 20px;
    background-color: rgb(116, 31, 28);
    color: rgb(245, 234, 214); 
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

a.botonPagPrincipal:hover {
    background-color: rgb(146, 58, 55); 
    transform: translateY(-2px); /* Elevación */
}


