/* ESTILO GENERAL DEL BODY */
body {
    font-family: mifuentesita;
    font-size: large;
    background-color: rgb(116, 31, 28); 
    background-image: url(/img/chimiCinco.png);
    background-size: cover;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

/* FUENTE EXTERNA */
@font-face {
    font-family: mifuentesita;
    src: url(/adicionales/fuentes/RedRose-VariableFont_wght.ttf);
}

/* FORMULARIO */
form {
    background-color: rgb(216, 139, 137); 
    border: 3px solid rgb(116, 31, 28); 
    border-radius: 15px;
    padding: 30px;
    padding-right: 40px;
    max-width: 550px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 1); 
}

fieldset {
    border: 2px solid rgb(116, 31, 28); 
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255); 
}

legend {
    font-weight: bold;
    color: rgb(116, 31, 28); 
    padding: 5px 10px;
}

input[type="text"], 
input[type="number"], 
input[type="password"], 
select, 
textarea {
    width: 500px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 8px;
    border: 2px solid rgb(116, 31, 28);
    border-radius: 5px;
    background-color: rgb(245, 245, 245);
    font-size: 14px;
}

/* BOTONES */
input,
a.botonPagPrincipal {
    background-color: rgb(116, 31, 28);
    text-decoration: none;
    color: black;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease; 
}

input:hover,
a.botonPagPrincipal:hover {
    background-color: rgb(146, 58, 55);
    color: white ;
}

#btnEspecial {
    display: flex;
    float: right;
}

/* ESTILOS PARA EL QR */
#anuncioQR {
    background-color: rgb(255, 240, 240);
    border: 2px dashed rgb(116, 31, 28); 
    border-radius: 10px;
    padding: 20px;
    width: 550px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
    margin: 20px;
}

#anuncioQR h2 {
    color: rgb(116, 31, 28);
    font-size: 24px;
    margin-bottom: 15px;
    margin-left: 5px;
}

#anuncioQR img {
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
}

#imgQR {
    text-align: center;
}

#anuncioQR p {
    color: rgb(116, 31, 28);
    font-size: 16px;
}

#anuncioQR a {
    color: rgb(146, 58, 55);
    font-weight: bold;
    text-decoration: none;
}

#anuncioQR a:hover {
    color: rgb(90, 20, 20);
}