
body {

    font-family: Verdana;
    font-size: large;

}

#titulo{

    font-family: Verdana; /* ESTA FUENTE SE CAMBIA */

}

/* MENÚ DE NAVEGACIÓN */
ul {

    list-style-type: none;
    overflow: hidden; /* aseguramos que los elementos flotantes dentro de ul, 
    sean contenidos por él (que sigan estando dentro del mismo y no se solapen) */
    background-color: #333;

}

li {
    float: left;
}

li a{
    display: block; /* asegura que el enlace ocupe todo el bloque horizontal dentro del li
    Permite que el padding y el text-aling funcionen correctamente */
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}
li a:hover {

    background-color: rgb(116, 31, 28);

}

/* TODOS LOS DIV DEL INDEX*/

#divUno {

    background-color: rgb(116, 31, 28) ;
    color: white;
    padding: 60px;
    text-align: center;

}