/* ESTILOS DEL BODY */
body {
    font-family: mifuentesita;
    font-size: large;
    font-weight: 200;
    background-color:  rgb(245, 234, 214); 
    color: white;
}
/* FUENTES EXTERNAS */
@font-face {

    font-family: mifuentesita;
    src: url(/adicionales/fuentes/RedRose-VariableFont_wght.ttf);
}

@font-face {

    font-family: mifuentesitaDos;
    src: url(/adicionales/fuentes/PlaywriteAUSA-VariableFont_wght.ttf);
}

/* ENCABEZADO */
header {

    background-color: rgb(116, 31, 28);
    text-align: center;
    padding: 20px 0;
    position: relative;
}

/* LOGO DE LA PÁGINA JUNTO CON EL TITULO */
#logo {
    
    font-family: mifuentesitaDos; /* es la fuente externa que se ha añadido con ese nombre */
    border-radius: 150px;
    width: 250px;
    height: 245px;
    margin: auto;
    background-image: url(/img/logoChimiOkeDos.jpeg); /* Imagen de fondo del logo */
    background-position: cover;
    background-size: 255px;
    display: flex;
    font-size: 20px;
    color: rgb(245, 234, 214);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 5); 
    text-shadow: 5px 5px 5px rgb(116, 31, 28);
}

#logo h1 {

    text-shadow: 3px 3px 3px rgb(192, 65, 59)
}

/* MENÚ DE NAVEGACIÓN */
ul {

    list-style-type: none;
    text-align: center;
    overflow: hidden; /* aseguramos que los elementos flotantes dentro de ul, 
    sean contenidos por él (que sigan estando dentro del mismo y no se solapen) */
    background-color: #333;
    border-radius: 5px;
    display: flex;
}

li {

    float: inline-start;

}

li a{

    font-size: 25px;
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    text-shadow: 3px 3px 3px rgb(197, 152, 150)
}

li a:hover {

    background-color: rgb(116, 31, 28);

}

/* MAIN */
main {

    padding: 20px;
}

/* DIV DE LOS PLATOS DESTACADOS */
#destacados h1 {
    text-shadow: 3px 3px 3px rgb(107, 74, 72)
}

#destacados2 h2 {

    color: rgb(185, 32, 32);
    text-align: center;
    text-shadow: 3px 3px 3px rgb(236, 182, 181);

}


figcaption {

    color: black;
    font-size: 30px;
    text-align: center;
    text-shadow: 5px 3px 5px rgb(116, 31, 28);
}

#platos img {

    width: 800px;
    height: 500px;
    border: 5px solid rgb(216, 139, 137);
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
}


#platos {

    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;    
}

/* SECCION DE INFORMACION */
#info {
    
    display: flex;
    justify-content: space-around;
}

.infoUno{

    background-color: rgba(116, 31, 28, 0.9); 
    border: 3px solid rgb(90, 20, 20); 
    border-radius: 15px;
    padding: 40px 30px;
    text-align: center;
    width: 950px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.6); 
    color: white;
}

.infoUno h2 {

    font-size: 32px;
    color: rgb(252, 234, 234);
    background-color: rgb(90, 20, 20); 
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); 
}

.infoUno p {

    color: white;
    margin-bottom: 20px;
    text-align: justify;
}

#divVentajas {
    display: block;
}

/* ESTILO PARA LOS QR */
.qr img {

    width: 200px;
    height: 170px;
    margin-top: 10px;
    border: 2px solid rgb(116, 31, 28);
    border-radius: 5px;
}

/* ESTILOS PARA EL VIDEO */
video {

    width: 700px;
    float: left;
    border-radius: 10px;
    margin: 10px;
}

/* PIE DE PÁGINA */
footer {

    background-color: rgb(116, 31, 28);
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

